/* core */
:root{
    --bgColor1: #F0EFF4;
    --bgColor2: #291528;

    --txtColor1: #F0EFF4;
    --txtColor2: #000000;

    --accentColor1: #9E829C;
    --accentColor2: #3A3E3B;

    --defaultRadius: 0.3rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif, 'Times New Roman', Times, serif;
    position: relative;
}
body{
    background-color: var(--bgColor1);
}

/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgColor2);
    padding: 1rem 2rem;
}
a{
    text-decoration: none;
    color: var(--txtColor1);
}
nav a:not(.link-brand, .link-cart)::after{
    content: '';
    display: block;
    width: 2rem;
    height: 0.25rem;    
    border-radius: var(--defaultRadius);
}
nav a:hover::after{
    background-color: var(--accentColor1);
}
nav .link-brand{
    font-size: 2em;
    font-weight: bold;
}
nav .link-brand .cart{
    color: var(--accentColor1);
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav .cart-link{
    display: flex;
    align-items: center;
}
nav .cart-link i{
    font-size: 2em;
}
nav .cart-count{
    color: var(--txtColor1);
    border-radius: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.5rem;
    width: 0.5rem;
    font-size: 0.9em;
    color: var(--txtColor2);
    background-color: var(--bgColor1);
    font-weight: bold;
}

/* .home */
.home{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items:center;
    align-items: center;
    height: 100vh;
}
.home .home-text{
    letter-spacing: 0.3rem;
}
.home .home-text .home-title{
    font-size: 0.9em;
    color: #9E829C;
}
.home .home-text .home-paragraph{
    font-size: 2.5em;
    font-weight: bolder;
}
.home .home-image img{
    width: 90%;
}
.btn{
    font-size: 2em;
    outline: none;
    border: solid 0.2rem var(--txtColor1);
    padding: 0.4rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: var(--bgColor2);
}
.home .home-text .btn:hover{
    background-color: var(--accentColor1);
}

/* .about */
.about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.about div{
    margin: 2rem 0rem;
}
.about i{
    font-size: 4em;
    margin: 0rem 2rem;
}
.about a{
    color: #000000;
}
.about a:hover{
    color: var(--accentColor1);
}
.about p{
    font-size: 1.5em;
    font-weight: bolder;
}

/* .products */
.products{
    
}

/* .product-card */
.product-card{

}
.product-card img{
    width: 20%;
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: var(--txtColor2);
    border: solid 0.3rem transparent;
}
footer a:hover{
    color: var(--accentColor1);
    border-bottom-color: var(--accentColor1);
}

/* media queries */
/* @media(max-width: 769px){
} */
/* @media(max-width: 426px){
    :root{
        font-size: 0.6em;
    }
} */